user_uuid="cec0d4a2-54e8-4826-8e2a-0f66206691a5"

bucket_name="hgoyljaev3p2nutgmmyge8prm6led0eh"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"